
<div>
    <h1>Product List</h1>
<div id="allProducts"></div>
</div>


{{!-- script which stores all FrontEnd logic --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/static/script.js"></script>