<div>
  <h1>Product List</h1>

  {{#if status}}
    {{#each list}}
      <div>
        <p>Product: {{this.title}}</p>
        <p>Price: {{this.price}}</p>
      </div>
    {{/each}}
  {{else}}
    <h2>{{data}}</h2>
  {{/if}}
</div>