
<div>     
  <h1>Product List</h1>
<div id="dynamicAllProducts"></div>
</div>


<div>
    <h3>Add new product</h3>
    <form action="/api/products" method="post" id="newProductForm" enctype="multipart/form-data">
      <input type="text" placeholder="Title" name="title" />
      <input type="text" placeholder="Description" name="description" />
      <input type="text" placeholder="Code" name="code" />
      <input type="text" placeholder="Price" name="price" />
      <input type="text" placeholder="Stock" name="stock" />
      <input type="text" placeholder="Category" name="category" />
      <input type="text" placeholder="Status" name="status" />
      <input type="file" name="thumbnail" id="thumbnail">
      <input type="submit" value="Submit" />
    </form>
  </div>


{{!-- script which stores all FrontEnd logic --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/static/script.js"></script>